
<header class="header" style="background-color: wheat; text-decoration:none; color:black;">
  <ul style="display:flex; justify-content: space-around; min-height: 10vh; align-items: center;">
    <!-- hover까지 모두 삭제하고 싶다면 all:unset; -->
    <li  style="list-style: none;" class="li"><a href="./" style="text-decoration: none; color:black;">HOME</a></li>
    <li style="list-style: none;" class="li"><a href="./sesac" style="text-decoration: none; color:black;">SESAC</a></li>
    <li  style="list-style: none;" class="li"><a href="./login"style="text-decoration: none; color:black;" >LOGIN</a></li>
    <li  style="list-style: none;" class="li"><a href="./register" style="text-decoration: none; color:black;">REGISTER</a></li>
  </ul>
</header>