<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    form {
      width: 20vw;
      height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    form > * {
      height: 10vh;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <h1>파일 업로드</h1>
  <!-- mult는 enctype="multipart/form-data"에서만 작동함 -->
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="userFile"> <br>
    <input type="text" name="title"> <br>
    <button type="button">업로드</button>
  </form>
  <script>
  </script>
</body>

</html>