<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>login</h1>
  <form name="signupForm">
    <input type="text" placeholder="user_id" name="user_id">
    <input type="password" placeholder="password" name="password">
  </form>
  <button onclick="login()">로그인</button>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    async function login() {
      const form = document.forms["signupForm"]
      const data = {
        user_id : form.user_id.value,
        password : form.password.value
      }
      const response = await axios({
        method : "post",
        url : "/login",
        data : data
      })
      if (response.status === 200) {
        location.href = "/profile"
      }
    }
  </script>
</body>
</html>