body {
    margin: 0;
    padding: 0;
}
.box {
    width: 100px;
    height: 100px;
    background-color: rgba(26, 221, 221, 0.5);
    /* 부모 요소에 따라 이동을 하기 위해 지정 */
    position: relative;

    /* 지정된 애니메이션 이름 */
    animation-name: my-anim;
    /* 애니메이션 지속 시간 */
    animation-duration: 2s;
    /* 애니메이션 최소 시작 딜레이 */
    animation-delay: 0.5s;
    /* 애니메이션 지정 횟수 무한 infinite*/
    animation-iteration-count: infinite;
    /* 애니메이션 작동 시간 함수 */
    animation-timing-function: linear;
    /* animation-direction: reverse; */

}
/* @keyframes 애니메이션-이름(개발자에게 상관없음) */
/*

    시작 : from or 0%;
    중간 : 0 ~ 100%
    끝 : to or 100%
    duration : 애니메이션 작송 시간
    delay : 시작 딜레이
    iter-cnt : 반복 횟수
    timing-func : 시간 간격 지정, linear, ease, ease-out, ease-in-out
    animation-direction : 반복시 방향 설정
*/
@keyframes my-anim {

    0% {
        left : 0px;
        background-color: cyan;
    }
    25%{
        left : 200px;
    }
    50%{
        left : 400px;
        background-color: black;

    }
    75% {
        left : 200px;
    }
    100%{
        left : 0px;
        background-color: cyan;

    }
}

.bounce-ball1 {
    /* 원래 있어야 하는 자리로부터 움직이는 값을 조절할 것임 */
    position: relative;
    left : 100px;
    top : 0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    /* animation-name: bounce1;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    /* alternate 반복 마다 방향을 바꿈 to 방향으로 애니메이션 진행 다음 회차 to from 
    animation-direction: alternate;
     */
     /* 애니메이션 이름, 지속 시간, 시간 함수, 반복 횟수, 애니메이션 방향 */
    animation : bounce1 1s ease-out infinite alternate;

}


@keyframes bounce1 {
    to {
        top: 50px;
        background-color: tomato;
    }
    from {
        top: 300px;
        background-color: darkred;
    }
}

.bounce-ball2 {
    /* body를 기준으로  위치를 조정함*/
    position: absolute;
    /* left : 100px; */
    bottom : 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: tomato; */

    animation-name: bounce2;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes bounce2 {
    /* 정상속도로 시작하여 느려짐 */
    from, to {
        bottom : 0px;
        animation-timing-function: ease-out;
    background-color: darkred;

    }
    /* 공중에서 시작하여 점차 빨라짐 */
    50% {
        bottom: 500px;
        animation-timing-function: ease-in;
        background-color: tomato;
    }
}