img {
    width: 400px;
    height: 300px;
    position: absolute;
    transform: rotate(20deg);
    transform: skewY(20deg);
}
.img1 {
    top:210px;
    z-index: 3;
}
.img2 {
    left : 250px;
    top:180px;
    z-index: 2;
}
.img3 {
    left : 500px;
    top:150px;
}