$color-red : red;
$color-orange :orange;
$color-yellow : yellow;
$animation-duration : 0.4s;

$breakpoint-sm: 360px;

$color-lightskyblue: lightskyblue;
$color-white: white;
$color-aliceblue :  aliceblue;
$color-lightgray : lightgray;
$color-darkblue : darkblue;
$color-gray : gray;
