// global.scss 전역 
// util.scss 변수나 함수를 불러오는 데 사용
// scss 파일 불러오기
@import './variables.scss'; // _는 css로 바꾸지 않아도 된다는 뜻
@import './utils.scss';
// 변수 선언
// $color-red : red;
// $color-orange :orange;
// $color-yellow : yellow;
// $animation-duration : 0.4s;

// 함수 선언
// @mixin box($size) {
//     width: $size;
//     height: $size;
// }




.container {
    display: flex;
    .box {
        @include box(120px); // width: 100px; height:100px;
        // width: 100px;
        // height: 100px;
        border: 1px solid black;
        &.red { // &부모 선택자 참조에서 지원
            // &.red = 'box red'
            background-color: red;
        }
        &.orange {
            background-color: $color-orange; // sass 변수 사용
        }
        &.yellow {
            background-color: yellow;
        }
        &:hover {
            $box-animation: $animation-duration * 0.5;
            transform: translateY(-50px);
            // transition-duration: $animation-duration;
            transition-duration: $box-animation;
        }
    }
    // .red {
    //     background-color: red;
    // }
    // .orange {
    //     background-color: orange;
    // }
    // .yellow {
    //     background-color: yellow;
    // }
}

// scss에서 변수값을 꺼내올 경우
@media (max-width : #{$breakpoint-sm}) {
    .container {
        flex-direction: column;
    }
}

.btn {
    padding: 10px;
    border: 1px solid black;
}

.btn-primary {
    // 확장 : 기존 선택자 스타일을 다른 선택자아게 상속
    @extend .btn; 
    background-color: $color-orange;
}